body {
    font-size: 20px;
    text-align: justify;

}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 30px;
}
table
{
    margin: auto;
    background-color: aliceblue;
}
td {
    text-align: center;
}